body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: aliceblue;
  padding: 30px;
  color: #333;
  background-image: url('./img/fundo.jpg');
  background-position: center;
  background-size: cover;
}

h1{
  text-align: center;
}

h2{
  margin-bottom: 10px;
}

p{
  margin: 10px;
}

input{
  box-sizing: border-box;
}

button{
  background-color: #333974;
  color: #FFF;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: .8;
  transition: .3s;
}

button:hover{
  opacity: 1;
}

input, select{
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #DDD;
  border-radius: 4px;
  width: 100%;
  background-color: #ffffff;
}

.app{
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: rgb(230, 230, 230);
  padding: 20px 30px;
  border-radius: 12px;
}

.aFazerForm{
  padding-bottom: 1.5rem;
}

.aFazer{
  background-color: #FFF;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .3s;
  text-decoration: line;
}

.aFazer:hover{
  transform: scale(1.05);
}

.complete{
  background-color: #5cb85c;
}

.remove{
  background-color: #d9534f;
  margin-left: 2px;
}

.afazer-list{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #555;
}

.filter{
  border-bottom: 1px solid #555;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

button{
  margin-left: 12px;
}

.filter-opt{
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-opt div{
  flex: 1 1 0;
}